
/* Add a black background color to the top navigation */
.navigation_panel {
    background-color: rgb(24, 24, 24);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .navigation_panel a {
    float: left;
    color: #b9b9b9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
  }
  
  /* Change the color of links on hover */
  .navigation_panel a:hover {
    background-color: #00b9e7d2;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navigation_panel a.active {
    background-color: #00b9e7;
    color: rgb(27, 27, 27);
    
  }
  body {
    background-image: url("./background_image.png");} 

.upper_home_text upper_text {
  text-decoration: underline;
  text-underline-offset: 5px;
  margin-left: 95px;
  font-family: papyrus;
  font-size: 48px;
  color: rgb(0, 204, 255);
}

  .main_home  {
  margin-left: 15px;
  font-family: copperplate;
  line-height: 61px;
  font-size: 38px;
  color: rgb(0, 204, 255);
  }

  img {
    border: 5px solid rgba(0, 128, 214, 0.829);
    padding: 4px;
    width: 280px;
  }

t{
  background-color: #00e6f7c9;
    color: rgb(0, 25, 53);
    font-size: 18px;
}  

  .projects_vid {
    align-content: center;
    text-align: center;
  }

  .projects_header {
    text-align: center;
    background-color: #00a6cf;
    font-family: manaco;
    line-height: 61px;
    font-size: 38px;
    color: rgb(19, 19, 19);

  }

  .body_contact {
    text-align: center;
    font-family: manaco;
    line-height: 61px;
    font-size: 31px;
    color: rgb(0, 183, 255);
  }